:root {
  /* Цвета */
  --color-text: white;
  --color-background: #101010;
  /* Шрифты */
  --font-family: 'Source Code Pro', monospace;
}

*, *:after, *:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .header {
    height: 70px;
    background-color: var(--color-background);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .header__studio-name {
    display: none;
    font-family:  var(--font-family);
    font-size: 30px;
    color: var(--color-text);
    margin-left: 20px;
  }

  .header__studio-name--letter-tight {
    letter-spacing: -4px;
  }

  .header__burger-menu {
    width: 45px;
    height: 45px;
    border: none;
    background-color: transparent;
    background-image: url('/images/icons8-меню-50.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease;
  }

  .cross {
    background-image: url('/images/icons8-закрыть-50.png');
  }

  .header__nav {
    position: absolute;
    top: 70px;
    width: 100%;
    right: 0;
    background-color: var(--color-background);
    color: var(--color-text);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
  }

  .header__nav.visible {
    opacity: 1;
    visibility: visible;
    z-index: 1;
  }

  .header__menu-list {
    font-family:  var(--font-family);
    font-weight: light;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .header__menu-link {
    color: var(--color-text);
    text-decoration: none;
    font-size: 18px;
  }

  .header__menu-link:hover {
    text-decoration: underline;
  }

  .main {
    padding: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: column;
    gap: 10px;
    background-image: url('/images/squad_surv.jpg');
    z-index: 0;
  }

  .main__title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main__main-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 3.2em;
    color: var(--color-text);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    margin: 0;
    text-align: center;
  }

  .main__subtitle {
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 1.5em;
    color: var(--color-text);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    letter-spacing: 2px;
  }

  .main__button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .button {
    height: 70px;
    width: 220px;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .button--google {
    background-image: url('/images/google-play-badge.svg');
  }

  .button--apple {
    background-image: url('/images/app-store-badge.svg');
  }

  .button--rustore {
    background-image: url('/images/photo_2024-11-04_17-47-56.jpg');
  }

  .pulsing {
    animation: pulse 1.5s infinite;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }

  .footer {
    padding: 15px;
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-family);
    font-weight: light;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .footer__social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
  }

  .footer__back-btn {
    font-size: 17px;
    background-color: transparent;
    border: none;
    color: var(--color-text);
    font-family: var(--font-family);
    font-weight: light;
  }
  
  .footer__icons-credit {
    font-size: 12px;
    color: #999;
    text-align: center;
    margin-top: 10px;
  }
  
  .footer__icons-credit a {
    color: #999;
    text-decoration: none;
  }
  
  .footer__icons-credit a:hover {
    text-decoration: underline;
  }
  

  @media screen and (min-width: 960px) {
    .header__logo {
      width: 300px;
    }

    .header__menu-link {
      font-size: 35px;
    }

    .header {
      height: 90px;
    }
  
    .header__burger-menu {
      width: 55px;
      height: 55px;
    }
  

    .main__main-title {
      font-size: 10em;
    }
  
    .main__subtitle {
      font-size: 4em;
    }

    .main__button-container {
      flex-direction: row;
      gap: 50px;
    }

    .button {
      height: 133px;
      width: 420px;
    }

    .footer {
      padding: 30px;
      gap: 30px;
      font-size: 35px;
    }

    .footer__social-media {
      gap: 50px;
    }

    .footer__social-media img {
      transform: scale(1.2);
    }

    .footer__back-btn {
      font-size: 30px;
    }
  }

  @media screen and (min-width: 1600px) {

    .header {
      height: 100px;
    }

    .header__studio-name {
      display: inline;
    }

    .header__burger-menu {
      display: none;
    }

    .header__nav {
      position: static;
      opacity: 1;
      visibility: visible;
      background-color: transparent;
      padding: 0;
      display: flex;
      align-items:center;
      flex-direction: row;
      justify-content: space-around;
    }

    .header__menu-list {
      font-family: var(--font-family);
      font-weight: light;
      display: flex;
      flex-direction: row;
      gap: 30px;
      list-style: none;
      margin: 0;
      padding: 0;
    }
  
    .header__menu-link {
      color: var(--color-text);
      text-decoration: none;
      font-size: 25px;
    }

    .header__logo {
      display: none;
    }

    .footer {
      flex-direction: row;
      justify-content: space-around;
    }
  }